.countdown-container-wraper-main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 90;
  direction: rtl;
}
.countdown-container-wraper-main .countdown-container-main {
  align-items: center;
}
.countdown-container-wraper-main .countdown-container-main span {
  border: 1px solid teal;
  background-color: lightcyan;
  font-weight: bold;
}
.countdown-container-wraper-main .countdown-container-main h5 {
  /* position: absolute; */
  margin-top: 0;
  background-color: wheat;
  font-size: 55px;
  margin-right: 0.55em;
}
