.main-page-wraper .main-page-container .commercial-container {
  max-width: 100%;
  margin: 0.5em 0em;
}
.main-page-wraper .main-page-container .commercial-container img {
  width: 100%;
}

.main-page-wraper .main-page-container .main-link-toVotes {
  width: 100%;
  text-align: center;
  direction: rtl;
  border-radius: 1px solid black;
}
.main-page-wraper
  .main-page-container
  .main-link-toVotes
  .link-votes-header-container {
  display: flex;
  justify-content: center;
  height: 70px;
}
.main-page-wraper
  .main-page-container
  .main-link-toVotes
  .link-votes-header-container
  p {
  color: lightskyblue;
  font-weight: 900;
  font-size: 35px;
  text-decoration: none;
  text-decoration: underline;
  padding-right: 0.3em;
}
.main-page-wraper
  .main-page-container
  .main-link-toVotes
  .link-votes-header-container
  h1 {
  color: lightskyblue;
  text-shadow: #fc0 1px 0 10px;
  font-weight: 900;
  /* text-shadow: 5px 5px #558abb; */
}

.main-page-wraper .main-page-container .main-link-toVotes img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
.main-page-wraper .main-page-container .contenders-images-container {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 1em 0em;
}

.main-page-wraper .main-page-container .contenders-images-container img {
  width: 110%;
  height: 95%;
}

/*  Vote statistic -- under main page*/
.check-the-votes-status {
  max-width: 100%;
}
.check-the-votes-status h3 {
  text-align: center;
  direction: rtl;
  padding-bottom: 0.3em;
  border-bottom: 1px solid violet;
  color: blue;
}
/* message if not connected  */
.votes-status-false {
  /* background-color: aqua; */
  text-align: center;
  padding: 2.5em 0;
}
.votes-status-false h3 {
  text-decoration: underline;
  font-weight: 700;
}

/* all media query for all types of devices */
@media only screen and (min-width: 769px) {
  .main-page-wraper .main-page-container {
    box-sizing: border-box;
    padding: 0 35em;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .main-page-wraper .main-page-container {
    box-sizing: border-box;
    padding: 0 15em;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .main-page-wraper .main-page-container {
    box-sizing: border-box;
    padding: 0 10em;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 3500px) {
  .main-page-wraper .main-page-container {
    box-sizing: border-box;
    padding: 0 30em;
  }
}
