body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* @media only screen and (max-width: 768px) { */
.main-nav-container {
  display: flex;
  max-width: 100%;
  background-color: darkblue;
  padding: 0.5em 0em;
}
.main-nav-container .left-container {
  width: 55%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}
.main-nav-container .left-container .container-share {
  color: white;
  font-size: 25px;
}
.main-nav-container .left-container .container-live button {
  font-weight: 550;
  padding: 0.2em 0.9em;
  border: none;
}
.main-nav-container .left-container .container-vod button {
  background-color: rgb(255, 20, 147);
  color: white;
  padding: 0.2em 0.9em;
  font-weight: 550;

  border: none;
}

.main-nav-container .right-container {
  display: flex;
  justify-content: space-around;
  width: 60%;
  justify-content: end;
}
.main-nav-container .right-container img {
  width: 40%;
}

.main-nav-container .right-container span {
  width: 20%;
  text-align: center;
  font-size: 25px;
  color: white;
}
/* } */
