.main-page-wraper .main-page-container .commercial-container {
  max-width: 100%;
  margin: 1em 0em;
}
.main-page-wraper .main-page-container .commercial-container img {
  width: 100%;
}
.main-page-wraper .main-page-container .main-link-toVotes {
  width: 100%;
  margin: 1em 0em;
  padding: 9em 0;
  text-align: center;
  direction: rtl;
  background-image: url("https://media.reshet.tv/image/upload/t_image_article_800/v1694032211/uploads/2023/903702715.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(50px); /* Adjust the blur radius as needed */
  background-color: grey;
}
.main-page-wraper .main-page-container .main-link-toVotes p {
  color: white;
  font-weight: 900;
  font-size: 35px;
  text-decoration: none;
  text-decoration: underline;

  /* background-color: red; */
  position: absolute;
  top: 0px;
  left: 0px;
  transform: rotate(-20deg);
}
.main-page-wraper .main-page-container .main-link-toVotes span {
  color: white;
  font-weight: 900;
  font-size: 35px;
  text-decoration: none;
  text-decoration: underline;

  /* background-color: blue; */
  position: absolute;
  top: 97px;
  left: 8px;
  transform: rotate(-20deg);
}
a {
  text-decoration: none;
}
.main-page-wraper .main-page-container .contenders-images-container {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 1em 0em;
}
.main-page-wraper
  .main-page-container
  .contenders-images-container
  .contender-container {
  width: 45%;
}
.main-page-wraper
  .main-page-container
  .contenders-images-container
  .contender-container
  img {
  width: 100%;
  height: 95%;
}

/*  Vote statistic -- under main page*/
.check-the-votes-status {
  max-width: 100%;
}
.check-the-votes-status h3 {
  text-align: center;
  direction: rtl;
  padding-bottom: 0.3em;
  border-bottom: 1px solid violet;
  color: blue;
}

/* all media query for all types of devices */
@media only screen and (min-width: 769px) {
  .main-page-wraper .main-page-container {
    box-sizing: border-box;
    padding: 0 35em;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .main-page-wraper .main-page-container {
    box-sizing: border-box;
    padding: 0 15em;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .main-page-wraper .main-page-container {
    box-sizing: border-box;
    padding: 0 10em;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 3500px) {
  .main-page-wraper .main-page-container {
    box-sizing: border-box;
    padding: 0 30em;
  }
}
