form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid cadetblue;
  direction: rtl;
}
form label {
  width: 80%;
  max-width: 100%;
}
form input {
  width: 80%;
  max-width: 100%;
  padding: 0.5em 0;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 0.5em;
}
form button {
  margin: 1em 0;
}

/* Modal Button */
#close {
  margin-top: 0px;
  margin-bottom: 0px;
  overflow: hidden;
  position: absolute;
  right: 15px;
  border: none;
  padding: 0;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: transparent;
  color: black;
  font: inherit;
  text-indent: 100%;
  cursor: pointer;

  &:focus {
    outline: solid 0 transparent;
    box-shadow: 0 0 0 2px #8ed0f9;
  }

  &:hover {
    background: rgba(29, 161, 142, 0.1);
  }

  &:before,
  &:after {
    position: absolute;
    top: 15%;
    left: calc(50% - 0.0625em);
    width: 0.125em;
    height: 70%;
    border-radius: 0.125em;
    transform: rotate(45deg);
    background: currentcolor;
    content: "";
  }

  &:after {
    transform: rotate(-45deg);
  }
}

/* Hover class */
.hoverMeRegister {
  padding-top: 3.5em;
}
.hoverMe {
  color: #0096ff;
  cursor: pointer;
}

.hoverMe:hover {
  border-bottom: 1px solid #0096ff;
}
